<style>
.card-text{
  padding: 5px;
}
</style>
<div class="card">
  <ul class="list-group">
    <div id="<%= dom_id amigo %>">
      <li class="list-group-item"><p class="card-text">
        <strong>Nombre:</strong>
        <%= amigo.first_name %>
      </p></li>

      <li class="list-group-item"><p class="card-text">
        <strong>Apodo:</strong>
        <%= amigo.string %>
      </p></li>

      <li class="list-group-item"><p class="card-text">
        <strong>Apellido:</strong>
        <%= amigo.last_name %>
      </p></li>

      <li class="list-group-item"><p class="card-text">
        <strong>Email:</strong>
        <%= amigo.email %>
      </p></li>

      <li class="list-group-item"><p class="card-text">
        <strong>Número de teléfono:</strong>
        <%= amigo.phone %>
      </p></li>

      <li class="list-group-item"><p class="card-text">
        <strong>Twitter:</strong>
        <%= amigo.twitter %>
      </p></li>
  </ul>
</div>

