<div id="<%= dom_id amigo %>">
  <p>
    <strong>Nombre:</strong>
    <%= amigo.first_name %>
  </p>

  <p>
    <strong>Apodo:</strong>
    <%= amigo.string %>
  </p>

  <p>
    <strong>Apellido:</strong>
    <%= amigo.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= amigo.email %>
  </p>

  <p>
    <strong>Número de teléfono:</strong>
    <%= amigo.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= amigo.twitter %>
  </p>

</div>
