<p style="color: green"><%= notice %></p>

<%= render @amigo %>

<div class:"container">
  <%= link_to "Editar este amigo", edit_amigo_path(@amigo), class:"btn btn-secondary" %>
  <br>
  <%= link_to "Volver", amigos_path, class:"btn btn-secondary" %>
  <br>

  <%= button_to "Eliminar amigo", @amigo, method: :delete , class:"btn btn-secondary"%>
</div>
